/*for wider resolutions*/
@keyframes menu-appear {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  80% {
    opacity: 0.95;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes loader-jump {
  0% {
    transform: scaleY(1) translateY(0px);
  }
  2% {
    transform: scaleY(1) translateY(0px);
  }
  10% {
    transform: scaleY(0.95) scaleX(1.05) translateY(0px);
  }
  27% {
    transform: scaleY(1.1) scaleX(0.9) translateY(-12px);
  }
  43% {
    transform: scaleY(0.94) scaleX(1.06) translateY(0px);
  }
  44% {
    transform: scaleY(0.93) scaleX(1.05) translateY(0px);
  }
  63% {
    transform: scaleY(1) translate(0px);
  }
  100% {
    transform: scaleY(1) translate(0px);
  }
}
@keyframes phase-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(1500px);
  }
}
@keyframes loader-grow {
  0% {
    transform: scale(1);
  }
  3% {
    transform: scale(1);
  }
  97% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.5);
  }
}
@font-face {
  font-family: "Roboto-regular";
  src: url("Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-medium";
  src: url("Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-light";
  src: url("Roboto-Light.ttf");
}
body, input, button, strong, header p, a, .how-to p, .menu h2 {
  font-family: "Roboto-regular", Arial, serif;
  text-decoration: none;
}

h1, h2, .restaurants__new {
  font-family: "Roboto-medium", "Roboto-regular", Arial, serif;
}

.menu h1, footer h3, .loading {
  font-family: "Shrikhand", "Roboto-medium", "Roboto-regular", Arial, serif;
}

p {
  font-family: "Roboto-light", Arial, serif;
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-weight: normal;
}

.loading p {
  font-family: "Shrikhand", "Roboto-medium", Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
}

@media screen and (min-width: 1025px) {
  .width-limit {
    width: unset;
    max-width: 1240px;
    margin: auto;
  }
}

.how-to {
  width: 100%;
  margin: auto;
  background-color: white;
}

section {
  width: 92%;
  margin: auto;
}

a.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  border: none;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 32px;
  font-size: 1.05em;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.15);
  background: radial-gradient(ellipse farthest-corner at 15% 2%, #FF79DA, #9356DC);
  color: white;
}
a.btn:hover::after {
  opacity: 1;
  border-radius: 32px;
}
a.btn::after {
  content: "";
  border-radius: 32px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: radial-gradient(ellipse farthest-corner at 15% 2%, #ff8de0, #9e67e0);
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.08);
  transition: opacity 250ms;
}
a.btn-l {
  padding-left: 48px;
  padding-right: 48px;
  font-size: 1em;
}

.heart {
  color: black;
  align-self: center;
  position: relative;
  height: 30px;
  width: 30px;
  background: transparent;
  background-color: #101010;
  padding: 1px;
  display: flex;
  align-items: center;
  font-size: 24px;
}
@media screen and (min-width: 600px) {
  .heart {
    font-size: 28px;
  }
}
.heart::before {
  content: "";
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FF79DA, #9356DC 90%);
  opacity: 0;
  position: absolute;
  transition: 243.6ms;
}
.heart__btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 406ms;
  mix-blend-mode: lighten;
  background-color: #f6f6f6;
}
.heart:hover::before {
  opacity: 1;
}
.heart:hover .heart__btn--empty {
  opacity: 0;
}

.loading {
  max-width: 1240px;
  width: 92.5%;
  top: 25%;
  position: fixed;
  z-index: 10;
  animation: phase-out 250ms 3934ms both ease-in-out;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .loading {
    top: 17.5%;
    width: 65%;
    left: 15%;
  }
}
@media screen and (min-width: 1025px) {
  .loading {
    width: 65%;
    left: 17.5%;
  }
}
.loading p {
  text-align: center;
  white-space: nowrap;
}
.loading__spinner {
  display: inline-block;
  font-size: 3.55em;
  transform: translateY(0px);
  animation: loader-jump 1967ms backwards ease-in-out infinite;
  transform-origin: center 85%;
}
@media screen and (min-width: 1025px) {
  .loading__spinner {
    font-size: 6.85em;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .loading__spinner {
    font-size: 4.95em;
  }
}
.loading__spinner--1 {
  animation-delay: 327.8333333333ms;
}
.loading__spinner--2 {
  animation-delay: 655.6666666667ms;
}
.loading__spinner--3 {
  animation-delay: 983.5ms;
}
.loading div {
  text-align: center;
  display: flex;
  justify-content: center;
}
.loading__circle {
  animation: loader-grow 1081.85ms ease-in-out alternate infinite;
  width: 48px;
  font-size: 1.6em;
}
.loading__circle--1 {
  animation-delay: 0ms;
}
.loading__circle--2 {
  animation-delay: 480.8222222222ms;
}
.loading__circle--3 {
  animation-delay: 961.6444444444ms;
}
.loading__circle:first-child {
  color: #9356DC;
}
.loading__circle:nth-child(2) {
  color: #FF79DA;
}
.loading__circle:last-child {
  color: #99E2D0;
}

header {
  width: 100%;
  margin-bottom: 32px;
  background-color: white;
}
header div:first-child p {
  text-align: center;
  margin-bottom: 3px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 0px;
  padding-top: 24px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1025px) {
  header div:first-child p {
    box-shadow: unset;
  }
}
header div:last-child {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding-right: 14px;
}
@media screen and (min-width: 1025px) {
  header div:last-child {
    border-radius: 16px;
  }
}
header i {
  align-self: center;
  margin-right: 16px;
  color: #353535;
}
header img {
  width: 45%;
}
@media screen and (min-width: 1025px) {
  header img {
    width: 28%;
  }
}
header p {
  font-weight: bold;
  font-size: 1em;
  color: #353535;
}
header .fa-arrow-left {
  position: absolute;
  top: 26px;
  left: 23px;
  font-size: 1.2em;
}
@media screen and (min-width: 1025px) {
  header .fa-arrow-left {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  header .fa-arrow-left {
    top: 38px;
    left: 34px;
    font-size: 1.85em;
  }
}

footer {
  background-color: #353535;
  width: 100%;
  margin: auto;
  padding: 16px;
}
footer h3 {
  color: #f6f6f6;
}
@media screen and (min-width: 1025px) {
  footer h3 {
    text-align: center;
  }
}
footer a {
  color: #f6f6f6;
}
footer i {
  margin-right: 8px;
  font-size: 0.9em;
}
footer ul {
  list-style-type: none;
  text-indent: 0px;
  padding-left: 0px;
}
@media screen and (min-width: 1025px) {
  footer ul {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
  }
}
footer li {
  margin-bottom: 8px;
}
@media screen and (min-width: 1025px) {
  footer li {
    margin-right: 24px;
  }
}

.discover {
  text-align: center;
  margin-bottom: 48px;
}
.discover h1 {
  width: 75%;
  margin: auto;
}
.discover p {
  margin-bottom: 32px;
  color: #353535;
}

.how-to {
  padding-bottom: 64px;
  padding-top: 48px;
  background-color: white;
}
@media screen and (min-width: 600px) {
  .how-to {
    border-radius: 40px;
  }
}
.how-to h2 {
  width: 92%;
  margin: auto;
  margin-bottom: 24px;
}
.how-to ul {
  width: 92%;
  margin: auto;
}
@media screen and (min-width: 600px) {
  .how-to ul {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .how-to ul {
    flex-flow: row wrap;
  }
}
.how-to li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}
@media screen and (min-width: 600px) {
  .how-to li {
    flex-flow: column nowrap;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .how-to li {
    min-width: 45%;
  }
}
.how-to p:first-child {
  display: inline-block;
  position: relative;
  left: 9px;
  bottom: 8px;
  color: #f6f6f6;
  background: #9356DC;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 16px;
  font-size: 0.9em;
  align-self: center;
}
@media screen and (min-width: 600px) {
  .how-to p:first-child {
    font-size: 1.3em;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 32px;
    top: 36px;
    left: unset;
    bottom: unset;
    margin-top: -32px;
  }
}
.how-to div {
  display: flex;
  flex: 1;
  background-color: white;
  border-radius: 14px;
  margin-bottom: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  padding: 8px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 600px) {
  .how-to div {
    padding: 24px;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
}
.how-to div:hover {
  background-color: #ffeefa;
}
.how-to i {
  align-self: center;
  padding-left: 24px;
  padding-right: 8px;
  color: #7e7e7e;
  flex: 0.3;
  font-size: 1.1em;
}
@media screen and (min-width: 600px) {
  .how-to i {
    padding-left: unset;
    font-size: 1.9em;
  }
}
.how-to p:last-child {
  align-self: center;
  font-weight: bold;
  font-size: 1.05em;
}
@media screen and (min-width: 600px) {
  .how-to p:last-child {
    font-size: 1.15em;
  }
}
.how-to .fa-list {
  font-size: 1.1em;
}
@media screen and (min-width: 600px) {
  .how-to .fa-list {
    font-size: 1.9em;
  }
}
.how-to .fa-mobile-alt {
  font-size: 1.25em;
}
@media screen and (min-width: 600px) {
  .how-to .fa-mobile-alt {
    font-size: 1.85em;
  }
}
.how-to .fa-store {
  color: #9356DC;
}

.restaurants {
  margin-bottom: 48px;
  margin-top: 48px;
}
.restaurants__list {
  display: flex;
  flex-flow: nowrap column;
}
@media screen and (min-width: 600px) {
  .restaurants__list {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.restaurants__box {
  background-color: white;
  border-radius: 14px;
  margin-bottom: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  .restaurants__box {
    width: 48%;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .restaurants__box {
    max-width: 375px;
  }
}
.restaurants__new {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #99E2D0;
  color: #299077;
  width: 56px;
  font-size: 0.9rem;
  position: relative;
  left: 73%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-bottom: -45px;
}
@media screen and (min-width: 1025px) {
  .restaurants__new {
    left: 80%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .restaurants__new {
    left: 68%;
  }
}
.restaurants__info {
  display: flex;
  padding-left: 12px;
  padding-right: 24px;
  justify-content: space-between;
}
.restaurants a {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  color: black;
}
.restaurants img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.menu {
  width: 100%;
  margin: auto;
  margin-top: -32px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}
.menu img {
  width: 100%;
  object-fit: cover;
  height: 270px;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .menu img {
    height: 290px;
  }
}
@media screen and (min-width: 1025px) {
  .menu img {
    height: 310px;
  }
}
.menu__list {
  width: 100%;
  margin: auto;
}
.menu__list a {
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 1025px) {
  .menu__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.menu__list section {
  margin-bottom: 32px;
}
@media screen and (min-width: 1025px) {
  .menu__list section {
    padding: 16px;
    margin: unset;
    border-radius: 16px;
    min-width: 31%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .menu__section {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .menu__section a:first-child {
    margin-right: 16px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .menu__section a:nth-child(3):not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1025px) {
  .menu__main-courses {
    background-color: white;
  }
}
.menu__name {
  display: flex;
  border-radius: 40px;
  margin-bottom: -54px;
  background: #f6f6f6;
  position: relative;
  bottom: 54px;
  width: 100%;
  justify-content: space-between;
}
.menu h1 {
  font-size: 1.8em;
  font-weight: 100;
  margin-left: 4%;
}
.menu .heart {
  align-self: center;
  margin-right: 7%;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 0.96em;
  font-weight: 100;
  margin-bottom: 8px;
}
.menu h2 + div {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 12px;
}
.menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__box {
  display: flex;
  overflow: hidden;
  animation: menu-appear 900ms ease-out forwards;
  opacity: 0;
  background-color: white;
  border-radius: 14px;
  margin-bottom: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.menu__box--1 {
  animation-delay: 200ms;
}
.menu__box--2 {
  animation-delay: 400ms;
}
.menu__box--3 {
  animation-delay: 600ms;
}
.menu__box--4 {
  animation-delay: 800ms;
}
.menu__box--5 {
  animation-delay: 1000ms;
}
.menu__box--6 {
  animation-delay: 1200ms;
}
.menu__box--7 {
  animation-delay: 1400ms;
}
.menu__box--8 {
  animation-delay: 1600ms;
}
.menu__box--9 {
  animation-delay: 1800ms;
}
.menu__box--10 {
  animation-delay: 2000ms;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .menu__box {
    flex: 1;
    min-width: 40%;
  }
}
.menu p {
  margin: 0px;
  font-size: 0.9em;
}
.menu strong {
  font-size: 1.15em;
}
.menu a:hover p:nth-child(2) {
  transform: translateX(mrg-check);
  transition: 400ms;
}
.menu a:hover .check {
  transform: translateX(0px);
  transition: 400ms;
}
.menu a:hover .check__circle {
  transform: translateX(0px) rotate(360deg);
  transition: transform 500ms;
}
.menu a:not(:hover) .check {
  margin-right: -64px;
  transition: margin-right 500ms;
}
.menu a:not(:hover) .check__circle {
  transform: translateX(-20px) rotate(0deg);
  transition: transform 500ms;
}
.menu__meal {
  overflow: hidden;
  padding: 14px;
  flex: 1;
}
.menu__meal__info {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  flex-flow: row nowrap;
}
.menu div > p:last-child {
  font-weight: bold;
  overflow: unset;
  padding-left: 14px;
  margin-right: 8px;
}
.menu .btn {
  align-self: center;
  margin-top: 16px;
}

.check {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  height: 70px;
  width: 58px;
}
.check__circle {
  transform: translateX(-20px) rotate(0deg);
  align-self: center;
  color: white;
  font-size: 21px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .check__circle {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
