footer{
    background-color: $col-darkgrey;
    @include width-max;
    padding: $msr-small;
    h3{
        color:$col-white;
        @include desktop-only{
            text-align:center;
        }
    }
    a{
        color: $col-white
    }
    i{
        margin-right: $msr-tiny;
        font-size:0.9em
    }
    ul{
        list-style-type: none;
        text-indent:0px;
        padding-left: 0px;
        @include desktop-only{
            display: flex;
            flex-flow: nowrap row;
            justify-content: center;
        }
    }
    li{
        margin-bottom: $msr-tiny;
        @include desktop-only{
            margin-right: $msr-intermediate;
        }
    }
}
