header {
    width: 100%;
    @include margin-bottom($msr-standard);
    > p {
        display: flex;
        justify-content: center;
    }
    div{
        display: flex;
        justify-content: center;
        background-color: rgb(234,234,234);
    }
    i {
        align-self: center;
        margin-right: $msr-small;
    }
    img {
        width:45%;
    }
    p{
        font-weight: bold;
        font-size: 1.05em;
    }
}