header {
    width: 100%;
    margin-bottom: $msr-standard;
    background-color: white;
    div:first-child p{
        text-align: center;
        margin-bottom: 3px;
        padding-bottom: 8px;
        padding-top: 8px;
        margin-top: 0px;
        padding-top: $msr-intermediate;
        box-shadow: 0px 4px 9px rgb(0,0,0,0.2);
        @include desktop-only{
            box-shadow: unset;
        }
        }
    div:last-child{
        display: flex;
        justify-content: center;
        background-color: rgb(234,234,234);
        padding-right: $pdn-intermediate;
        @include desktop-only{
            border-radius: $rds-intermediate;
        }
    }
    i {
        align-self: center;
        margin-right: $msr-small;
        color:$col-darkgrey;
    }
    img {
        width:45%;
        @include desktop-only{
            width:28%;
        }
    }
    p{
        font-weight: bold;
        font-size: 1em;
        color:$col-darkgrey;
    }
    .fa-arrow-left{
        position: absolute;
        top: 26px;
        left: 23px;
        font-size: 1.2em;
        @include desktop-only{
            display: none;
        }
        @include tablet-only{
            top: 38px;
            left: 34px;
            font-size: 1.85em;
        }
    }
}