.btn{
    border:none;
    background: radial-gradient(ellipse farthest-corner at 15% 2%, $col-secondary, $col-primary);
    color: white;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px; 
    border-radius: 32px;
    font-size: 1.05em;
    @include box-shadow-light;
    &:hover{
        background: radial-gradient(ellipse farthest-corner at 15% 2%, lighten($col-secondary,3%), lighten($col-primary,3%));
        @include shd-regular;
    }
}