a.btn{
    display: inline-block;
    position: relative;
    z-index: 1;
    border:none;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: $rds-btn;
    font-size: 1.05em;
    @include btn-shd;
    background: radial-gradient(ellipse farthest-corner at 15% 2%, $col-secondary, $col-primary);
    color: white;
    &:hover{
        &::after{
            opacity:1;
            border-radius: $rds-btn;
        }
    }

    &::after{
        content: "";
        border-radius: $rds-btn;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        opacity: 0;
        z-index: -1;
        background: radial-gradient(ellipse farthest-corner at 15% 2%, lighten($col-secondary,4%), lighten($col-primary,4%));
        @include btn-shd(rgb(0,0,0,0.08));
        transition: opacity 250ms;
    }
    
    &-l{
        padding-left: $pdn-large;
        padding-right: $pdn-large;
        font-size:1em;
    }
}