$hrt-size:24px;
/*for wider resolutions*/
$hrt-size-lrg: $hrt-size+3px; 
$hrt-fill-dur:350ms;

.heart{
    height: 1px + $hrt-size;
    align-self: center;
    font-size:$hrt-size;
    overflow: hidden;
    position:relative;
    z-index: 4;
    @include wider-screens{
        height: 1px + $hrt-size-lrg;
        font-size: $hrt-size-lrg;
    }
    i{
        display: inline-block;
        position: relative;
    }
    &__btn{
        left:30px;
        z-index: 3;
        color: black;
        opacity: 1;
        @include wider-screens{
            left:33px;
        }

        &--full{
        background: -webkit-linear-gradient(90deg, $col-secondary, $col-primary 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index:2;
        transform: scale(0);
        }
    }
    &:hover{
        & > .heart__btn--full{
            transform: scale(1);
            transform-origin: 50% 100%;
            transition: transform $hrt-fill-dur ease-in-out;
        }
        & > .heart__btn{
            opacity: 0;
            transition: opacity 500ms $hrt-fill-dur ease-in-out;
        }
    }    
}