$anim-dur: 1967ms;

.loading{
    @include desktop-only{
        max-width: 1240px;
        width: 65%;
        position: fixed;
        left: 17.5%;
        top: 25%;
        font-family: "Shriekhand";
        z-index:10;
        animation: phase-out 250ms $anim-dur*2 both ease-in-out; 
    }
    p{
        text-align: center;
    }
    &__spinner {
        display: inline-block;
        @include desktop-only{
            font-size: 6.85em;
        }
        transform: translateY(0px);
        animation: loader-jump $anim-dur backwards ease-in-out infinite;
        transform-origin: center 85%;
        @for $i from 1 through 3{
            &--#{$i} {
                animation-delay: $anim-dur/6 * $i;
            }
        }
    }
    div{
        text-align:center;
        display:flex;
        justify-content: center;
    }
    &__circle{
        animation: loader-grow $anim-dur * 0.8 ease-in-out alternate infinite;
        width: 10%;
        font-size:1.6em;
        @for $i from 1 through 3{
            &--#{$i} {
                animation-delay: $anim-dur/3 * ($i - 1);
            }
        }
        &:first-child{
            color: $col-primary;
        }
        &:nth-child(2){
            color: $col-secondary;
        }
        &:last-child{
            color: $col-tertiary;
        }
    }
}