@keyframes menu-appear{
    0%{
        opacity:0;
        transform: translateY(14px);
    }
    80%{
        opacity:0.95;
        transform: translateY(0px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes loader-jump{   
    0%{
        transform:  scaleY(1) translateY(0px);
    }
    2%{
        transform:  scaleY(1) translateY(0px);
    }
    10%{
        transform: scaleY(0.95) scaleX(1.05) translateY(0px);
    }
    27%{
        transform: scaleY(1.1) scaleX(0.9) translateY(-12px);
    }
    43%{
        transform:  scaleY(0.94) scaleX(1.06) translateY(0px);
    }
    50%{
        transform:  scaleY(0.93) scaleX(1.05) translateY(0px);
    }
    63%{
        transform: scaleY(1) translate(0px);
    }
    100%{
        transform: scaleY(1) translate(0px);
    }
}

@keyframes phase-out{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 0;
        transform: translateX(0px);
    }
    100%{
        opacity:0;
        transform: translateX(1500px);
    }
}

@keyframes loader-grow{
    0%{
        transform: scale(1)
    }
    100%{
        transform: scale(1.6)
    }
}