@mixin width-max{
    width:100%;
    margin:auto;
}

@mixin width-standard{
    width:95%;
    margin:auto;
}

@mixin width-narrow{
    width:75%;
    margin:auto;
}

@mixin margin-bottom($margin-bottom){
    margin-bottom: $margin-bottom;
}