$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-footer: rgb(53,53,53);
$color-white: rgb(246,246,246);

$margin-tiny: 8px;
$margin-small: 16px;
$margin-standard: 32px;
$margin-big: 48px;

$radius-tiny: 2px;