.how-to{
    padding-bottom: $msr-xl;
    padding-top: $msr-large;
    background-color: white;
    @include wider-screens{
        border-radius: $rds-large;
    }
    h2{
        @include width-standard;
        margin-bottom: $msr-intermediate;
    }
    ul{
        @include width-standard;
        @include wider-screens{
            display: flex;
            justify-content: space-evenly;
        }
        @include tablet-only{
            flex-flow: row wrap;
        }
    }
    li{
        display: flex;
        justify-content: flex-start;
        margin-bottom: $msr-tiny;
        @include wider-screens{
            flex-flow: column nowrap;
            margin-bottom: 0px;
        }
        @include tablet-only{
            min-width: 45%;
        }
    }
    p:first-child{
        display: inline-block;
        position: relative;
        left: 9px;
        bottom: 8px;
        color: $col-white;
        background: $col-primary;
        padding: $pdn-tiny;
        padding-left: $pdn-small;
        padding-right: $pdn-small;
        border-radius: 16px;
        font-size: 0.9em;
        align-self: center;
        @include wider-screens{
            font-size: 1.3em;
            padding: 6px;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 32px;
            top: $msr-standard + $msr-min;
            left: unset;
            bottom: unset;
            margin-top: -32px;
        }
    }
    div{
        display: flex;
        flex: 1;
        @include box-format;
        padding:8px;
        background-color: $col-white;
        @include wider-screens{
            padding: $pdn-standard;
            justify-content: flex-end;
            flex-direction: column-reverse;
        }
        &.how-to--pink{
            background-color: lighten($col-secondary, 23%);
        }
    }
    i{
        align-self: center;
        padding-left: $msr-intermediate;
        padding-right: $msr-tiny;
        color: $col-grey;
        flex:0.3;
        font-size: 1.1em;
        @include wider-screens{
            padding-left: unset;
            font-size: 1.9em
        }
    }
    p:last-child{
        align-self: center;
        font-weight: bold;
        font-size: 1.05em;
        @include wider-screens{
            font-size: 1.15em;
        }
    }
    .fa-list{
        font-size: 1.1em;
        @include wider-screens{
            font-size: 1.9em;
        }
    }
    .fa-mobile-alt{
        font-size: 1.25em;
        @include wider-screens{
            font-size: 1.85em;
        }
    }
    .fa-store{
        color: $col-primary;
    }
}