.menu{
    @include width-max;
    margin-top: -$msr-standard;
    margin-bottom: $msr-xxl;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
        object-fit: cover;
        height: 270px;
        @include tablet-only{
            height: 290px;
        }
        @include desktop-only{
            height: 310px;
        }
    }
    &__list{
        @include width-max;
        @include desktop-only{
            display: flex;
            flex-flow: row nowrap;
        }
        section{
            margin-bottom: $msr-standard;
            @include desktop-only{
                padding: 16px;
                margin: unset;
                border-radius: $rds-intermediate;
            }
        }
    }
    &__section{
        @include tablet-only{
            display: flex;
            flex-wrap: wrap;
        }
            & div:first-child{
                @include tablet-only{
                    margin-right: $msr-small;
                }
            }
            & div:nth-child(3):not(:last-child){
                @include tablet-only{
                    margin-right: $msr-small;
                }
            }
    }
    &__main-courses{
        @include desktop-only{
            background-color: white;
        }
    }
    &__name{
        display: flex;
        border-radius: 40px;
        margin-bottom: -54px;
        background: $col-white;
        position: relative;
        bottom: 54px;
        width: 100%;
        justify-content: space-between;
    }
    h1{
        margin-right: $msr-standard;
        font-size: 1.8em;
        font-weight: 100;
        margin-left: 4%;
    }
    .heart{
        align-self: center;
        padding-right: 6%;
    }
    h2{
        text-transform: uppercase;
        font-size: 0.96em;
        font-weight: 100;
        margin-bottom: $msr-tiny;
        + div{
            width:40px;
            height:3px;
            background-color: $col-tertiary;
            margin-bottom: $msr-tiny + $msr-min;
        }
    }
    .fa-check-circle{
        display:none
    }
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__box{
        animation: menu-appear 900ms ease-out forwards;
        opacity:0;
        @for $i from 1 through 10{
            &--#{$i} {
                animation-delay: 200ms * $i;
            }
        }
        @include box-format;
        background-color: white;
        padding: $pdn-intermediate;
        @include tablet-only{
            flex: 1;
            min-width: 40%;
        }
        p{
            margin: 0px;
            font-size: 0.9em;
        }
        strong{
            font-size: 1.15em;
        }
        div:nth-child(2){
            display:flex;
            justify-content: space-between;
            margin-top: $msr-min;
        }
        a{
            color: black;
            text-decoration: none;
        }
    }
    div > .menu__price{
        font-weight: bold;
        overflow: unset;
        padding-left: $pdn-intermediate;
        margin-right: $msr-tiny;
    }
    .btn{
        align-self: center;
        margin-top: $msr-small;
    }
}