.restaurants{
    margin-bottom: $msr-large;
    margin-top: $msr-large;
    &__list{
        display: flex;
        flex-flow: nowrap column;
        @include wider-screens{
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }
    &__box{
        @include box-format;
        overflow: hidden;
        @include wider-screens{
            width: 48%;
            margin-bottom: $msr-intermediate;
        }
        @include tablet-only{
            max-width: 375px;
        }
    }
    &__new{
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 12px;
            padding-right: 12px;
            background-color: $col-tertiary;
            color: darken($col-tertiary,38%);
            width: 56px;
            font-size: 0.9rem;
            position:relative;
            left:73%;
            @include box-shadow-light;
            border-radius: $rds-tiny;
            margin-bottom:-45px;
            @include desktop-only{
                left:80%
            }
            @include tablet-only{
                left: 68%;
            }
    }
    &__info{
        display:flex;
        padding-left:12px;
        padding-right:24px;
        justify-content: space-between;
    }
    a{
        display: flex;
        flex-flow: column;
        text-decoration: none;
        color: black;
    }
    img{
        width:100%;
        height:175px;
        object-fit: cover;
    }
}