@font-face {
    font-family: 'Roboto-regular';
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Shrikhand';
    src: url("Shrikhand-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-medium';
    src: url("Roboto-Medium.ttf")
}

@font-face {
    font-family: 'Roboto-light';
    src: url("Roboto-Light.ttf")
}

body, input, button, strong, header p, a, .how-to p, .menu h2{
    font-family: 'Roboto-regular', Arial, serif;
    text-decoration: none;
}

h1, h2, .restaurants__new{
    font-family: 'Roboto-medium', 'Roboto-regular', Arial, serif;
}

.menu h1, footer h3{
    font-family: 'Shrikhand', 'Roboto-medium', 'Roboto-regular', Arial, serif;
}

p{
    font-family: 'Roboto-light', Arial, serif;
    font-size:1.1rem
}


ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}

h3{
    font-weight: normal;
}

.far.fa-heart{
    font-size:1.5em;
}